# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/CREDITS-fml.txt
/forge-1.10.2-12.18.3.2254-changelog.txt
/LICENSE-new.txt
