public net.minecraft.client.Camera move(DDD)V
public net.minecraft.client.Camera getMaxZoom(D)D
#public net.minecraft.world.entity.npc.VillagerProfession requestedItems
public-f net.minecraft.world.entity.npc.Villager WANTED_ITEMS
public net.minecraft.world.level.biome.Biome getTemperature(Lnet/minecraft/core/BlockPos;)F